#search{
  height: 70vh;
  overflow-y: scroll;
  border: 1px solid gray;
}
.search_album{
border: 1px solid black;
}

.search_album > span > img{
width: 150px;
}
#엘범아트{
  width:300px;
}

#재생바밖{
width: 60vh;
  background-color: black;
}
#재생바{
width: 60vh;
  background-color: green;
}
#재생바안{
  width: 0vh;
  background-color: rgb(16, 178, 187);
  height: 10px;
}