/* 전체 설정 */
main{
  background-color: gray;
}
section{
  padding:0;
  border:0;
}
main>section{
  display:block;
  position:relative;
  float: left;
}
main>section:first-child{
  background-color: rgb(255, 253, 253);
  width: 49.5%;
}
main>section:last-child{
  background-color: rgb(255, 255, 250);
  width: 49.5%;
}



/* 시각화 관련 */
#시각화{
  height: 256px;
  width: 256px;
}
#시각화 *{
  width: 256px;
  height: 256px;
}
#시각화>*{
  border: 1px solid black;
  position: absolute;
}

.재생관련버튼 button{
  float: left;
}




/* 검색 결과 관련 */
#search_result{
  height: 70vh;
  overflow-y: scroll;
  border: 1px solid gray;
}
.search_album{
border: 1px solid black;
}

.search_album > span > img{
width: 150px;
}




/* 재생바 관련 */

#신재생바{
  width: 60vh;
}

#재생바밖{
  width: 60vh;
  background-color: black;
}
#재생바{
width: 60vh;
  background-color: rgb(233, 233, 233);
}
#재생바안{
  width: 0vh;
  background-color: rgb(16, 178, 187);
  height: 7px;
}




/* 정보 표시 관련 */

#info > div > span:first-child{
  margin-right: 10px;
}
.search_group{
  margin: 5px;
}


/* 큐 관련 */

#queue_list>div{
  margin: 0;
  border: 0;
  padding-bottom: 2px;
  padding-top: 2px;
 }